altgraph==0.15
certifi==2017.11.5
chardet==3.0.4
flake8==3.5.0
future==0.16.0
getch==1.0
idna==2.6
macholib==1.9
mccabe==0.6.1
mutagen==1.39
olefile==0.44
pefile==2017.11.5
Pillow==4.3.0
PyAudio==0.2.11
pycodestyle==2.3.1
pydub==0.23.1
pyflakes==1.6.0
PyMsgBox==1.0.6
PyScreeze==0.1.13
python3-xlib==0.15
PyTweening==1.0.3
requests>=2.20.0
urllib3==1.22
